@font-face {
    font-family: 'BodyFont';
    src: url('Fonts/Muli/03.\ Muli-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'TitleFont';
    src: url('Fonts/DIN/FS-WebFonts-968946746/Fonts/5611706/1c234575-4907-46fb-a87c-4ab80464bb84.ttf') format('truetype');
}

@font-face {
    font-family: 'NavFont';
    src: url('Fonts/Muli/04.\ Muli-SemiBold.ttf') format('truetype');
}
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'BodyFont'; 
}

/* Banner */
.custom-bg {
    background-color: #838a8e8f; 
    position: relative;
    padding: 0.5rem;
    text-align: center;
  }
  
  .banner-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-weight: 400;
    color: #000000;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 16px;
  }
  
  .close {
    margin-top: 5px;
    position: absolute;
    top: 0.25rem;
    right: 1.25rem;
    justify-content: center;
    
  }

/* End of Banner */

/* Header */
.logo {
    width: 130px;
    height: 40px;
    margin-left: 68px;
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
}

.logo:hover {
    transform: scale(1.1);
}

@media (max-width: 768px) {
    .logo {
        left: 15px;
    }
}

@media (max-width: 576px) {
    .logo {
        left: 15px;
    }
}

.sticky-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: 0.5s ease;
}

header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 200px;
    transition: 0.5s ease;
    height: 80px;
    z-index: 1;  
}

/* header::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1.5px;
    background-color: #00000048;
} */

#basket {
    padding: 20px;
    cursor: pointer;
    margin-left: 15px;
}

.basket-container {
    display: flex;
    align-items: center;
    position: relative;
}

.basket-dropdown {
    position: absolute;
    top: 100%;
    left: -70px;
    right: 0;
    width: 250px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    display: none;
    z-index: 100;
}

.basket-container:hover .basket-dropdown {
    display: block;
}

.basket-dropdown p {
    margin: 0;
    padding: 10px;
    text-align: center;
}

.dropdown-button {
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
    background-color: #1f384b;
    color: white;
    border-style: none;
    width: 230px;
}

.dropdown-button:hover {
    background-color: white;
    color: black;
    border: 1px solid #1f384b;
}

header .navigation {
    position: relative;
    /* margin-bottom: 55px; */
    margin-left: auto;
}

header .navigation .navigation-items a {
    position: relative;
    color: #000000;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
    transition: 0.3s ease;
    font-family: 'NavFont';
}

header .navigation .navigation-items a:before {
    content: '';
    position: absolute;
    background: #000000;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
}

header .navigation .navigation-items a:hover:before {
    width: 100%;
}

#basket2::before {
    display: none;
}

@media (max-width: 1040px) {
    header {
        padding: 12px 20px;
    }

    section {
        padding: 100px 20px;
    }

    .home .media-icons {
        right: 15px;
    }

    header .navigation {
        display: none;
    }

    #basket2 {
        display: none;
    }

    header .navigation.active {
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(1, 1, 1, 0.5);
    }

    header .navigation .navigation-items a {
        color: #222;
        font-size: 1.2em;
        margin: 20px;
    }

    header .navigation .navigation-items a:before {
        background: #222;
        height: 5px;
    }

    header .navigation.active .navigation-items {
        background: #ffffff;
        width: 600px;
        max-width: 600px;
        margin: 20px;
        padding: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 5px;
        box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
    }

    .menu-btn {
        background: url(Assets/blackmenu.png) no-repeat;
        background-size: 50px;
        background-position: center;
        width: 50px;
        height: 50px;
        cursor: pointer;
        transition: 0.3s ease;
        position: absolute;
        top: 40px;
        right: 75px;
        transform: translateY(-50%);

    }

    #basket2 {
        background-size: 50px;
        background-position: center;
        width: 50px;
        height: 50px;
        cursor: pointer;
        transition: 0.3s ease;
        position: absolute;
        top: 40px;
        right: 75px;
        transform: translateY(-50%);
    }

    .basket-dropdown{
        left: -170px;
    }

    .menu-btn.active {
        z-index: 999;
        background: url(Assets/Black\ close.png)no-repeat;
        background-size: 50px;
        background-position: center;
        transition: 0.3s ease;
    }
}

/* End of Header */

/* Jumbotron */
.jumbotron{
    background: rgb(62,123,166);
    background: linear-gradient(90deg, rgba(62,123,166,1) 0%, rgba(35,66,88,1) 55%, rgba(33,61,81,1) 63%, rgba(31,56,75,1) 72%, rgba(20,33,44,1) 100%);
    border-radius: 0%;
    height: 550px ;
    padding-left: 120px;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    margin-top: 85px;
    margin-bottom: 70px;
}

.jumbotron-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.bottle {
    width: 550px; 
    margin-left: 20px; 
    margin-bottom: 40px;
}

.bottle:hover {
    transform: scale(1.1);
    margin-bottom: 50px;
}

@media (max-width: 1040px) {
    .jumbotron {
        padding-left: 20px; 
        font-size: large;
    }

    .bottle {
        width: 100%;
        max-width: 550px;
        margin-left: 0;
        margin-bottom: 20px;
        margin-top: -40px;
    }

    .jumbotron-content {
        flex-direction: column;
        align-items: center;
        margin-top: 390px;
    }

    .jumbotron-text {
        text-align: center;
        margin-top: 0px;
    }
    
    .jumbotron-btn{
        margin-top: 0px;
    }

}

.jumbotron p{
    color: white;
}

#jumbo-title{
    font-family: 'TitleFont' !important;
    color: white;
    margin: 0%;
}

#sub-title{
    font-size: 2rem;
    margin: 0%;
    color: white;
}

.jumbotron-text{
    margin-top: 40px;
}

.jumbotron-btn{
    margin-top: 25px;
    padding: 15px 20px;
    background-color: white;
    color: black;
    border: none;
}

.jumbotron-btn:hover{
    color: white;
    border: 1px solid white;
    background-color: transparent;
}

/* End of Jumbotron */

/* Promo Video */
.promo-video {
    position: relative;
    overflow: hidden;
    margin-top: 30px;
    margin-bottom: 50px;
}

.video-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#banner-video {
    width: 70%;
    height: 50% !important;
    object-fit: contain;
}


.play-pause-button {
    position: absolute;
    bottom: 20px;
    left: 80%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    color: #000;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
}

.play-pause-button:hover {
    background-color: rgba(255, 255, 255, 1);
}

@media (max-width: 1040px) {
    .promo-video {
        /* margin-top: 320px;
        margin-bottom: 40px; */
        display: none;
    }

}
  
/* End of Promo Video */

/* About Section */

.about-section{
    height: 700px;
}

.about-section p{
    text-align: center;
    font-size: 18px;
}

.perfume-bottle{
    width: 500px;
    border-radius: 5px;
}


/* .box{
    border: 2px solid #2C343D;
    padding: 50px;

} */

#text-box{
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-title{
    font-family: 'TitleFont' !important;
    font-size: 45px;
    text-align: center;
    margin-top: 0%;
    margin-bottom: 20px;
}

.about-btn {
    background-color: #1f384b;
    padding: 15px 30px;
    border: none;
    color: white;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 85%;
    transform: translate(-50%, -50%);
}

.about-btn:hover{
    background-color: transparent;
    border: 1px solid #1f384b;
    color: black;
}
  
@media (max-width: 1040px) {

    .about-section{
        margin-top: 200px;
    }
    .about-btn{
        top: 105%;
        margin-bottom: 20px;
    }

    .about-title{
        margin-top: 15px;
    }
}


/* End of About Section  */